@charset "utf-8";
.button {
	width: 120px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	font-weight: bolder;
	color: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.button.gray {
	color: #ffffff;
	border: 2px solid #ffffff;
	background: transparent;
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/background.png);
	text-align: center;
}
.content {
	margin-left: 50px;
	margin-right: 50px;
}
* {
	margin: 0 auto;
}
.text {
	font-family: '微软雅黑';
	color: #FFFFFF; 
	font-size: 30px;
	text-align: center;
}